<%--
  Created by IntelliJ IDEA.
  User: HP
  Date: 05/09/2022
  Time: 16:11
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="backoffice"/>
    <title>Backoffice</title>
</head>

<body>
  Page admin
</body>
</html>