body{
    background: url(https://c8.alamy.com/comp/2BNBNWJ/sketch-vegetables-seamless-pattern-vegetable-soup-organic-farm-food-vector-vegetal-background-illustration-of-organic-food-pattern-vegetable-2BNBNWJ.jpg);
    background-size: inherit;
    background-repeat: repeat;
    backdrop-filter: grayscale(1);
}
body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #fffffff2;
}