
:root {
    --main-green: #7fad39;
    --light-grey : #f8f9fa;
}
html{
    position: relative;
    min-height:100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
*{
    font-family: 'Cairo', sans-serif;;
}
.bold-text{
    font-weight:700;
}
.space-1{
    letter-spacing: 1px;
}
.light-text{
    font-weight: 200;
}
.big-text{
    line-height: 1em;
    font-size:2.5em;
}
.green-text{
    color : var(--main-green);
}
.green-btn{
    background: var(--main-green);
    color:white;
}
.not-rounded{
    border-radius: 0;
}
.green-border{
    border : 2px solid var(--main-green);
}
.black-border{
    border : 2px solid black;
}
/*END*/
.carre {
    object-fit: cover;
    object-position: center;
    height: 300px;
    width: 300px;
    border: 4px solid black;
    margin: 20px;
}
.c-card{
    padding:30px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.31);
    border-radius:10px;
}
.card .img-container{
    height:200px;
    background: azure;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.card .img-container img{
    object-fit: fill;
}
.card .user{
    display : flex;
    align-items: center;
    padding: 10px;
}
.card .title{
    font-size:20px;
    margin-bottom:5px;
}
.card .user-image-container{
    width :40px;
    height:40px;
    background-color: #5e5e5e;
    overflow: hidden;
    border-radius: 100%;
    margin-right:7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.card .user-image-container img{
    width:100%;
    height:100%;
}
.card a{
    text-decoration: none!important;
}
.card .price span{
    padding:10px;
    border-radius: 10px;
    background: azure;

}
/*general image container*/
.img-container{
    height:200px;
    /*TO DO : azo ovaina*/
    background: var(--light-grey);
    position:relative;
    overflow: hidden;
    text-align: center;
}
.img-container img {
    object-fit: fill;
}
.vegetables{
    background: url('../images/vegetables/legumes.webp');
    background-attachment: scroll;
    background-size: cover;
    background-position: right;
    height:400px;
    display: flex;
    align-items: center;
    padding-left:1.5em;
}
.vegetables .text{
    padding : 30px;
    position : relative;
    z-index: 2;
    backdrop-filter: blur(2px);
}
@media (max-width : 768px){
    .vegetables .text{
        background: rgb(255, 255, 255,0.9);
    }
}
.left-product-list{
    background: white;
    border: 2px solid black;
}
.products-list {
    max-height: 320px;
    overflow-y: scroll;
    position:relative;
}
.products-list.buy{
    max-height: 600px;
}
.products-list li {
    list-style-type: none;
}
.product-item{
    padding : 10px 0 10px 20px;
    border-bottom:1px solid floralwhite;
}
.product-item label{
    margin : 0;
    margin-left:5px;
}
.recommend{
    padding : 10px;
    background: var(--light-grey);
    position:relative;
}
.recommend span{
    position:absolute;
    padding:10px 20px;
    background: white;
    color:black;
    bottom:17px;
    left:50%;
    transform: translate(-50%);
    width : 80%;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
ul{
    margin-bottom:0;
}
#submit{
    position:absolute;
    width:100%;
    bottom:0;
}
.scrollIndicator{
    bottom: 30px;
    height: 40px;
    position: absolute;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8758096988795518) 55%, rgba(255,255,255,0.23715423669467783) 100%);
}
.floating-btn{
    /*width:90%;*/
    /*left:50%;*/
    /*transform: translateX(-50%);*/
    /*top:75%;*/
}
