body{

    background-color:#B3E5FC;
    border-radius: 10px;

}


.card{
    width: 600px;
    border: none;
    border-radius: 10px;
    height:200px;
    display : flex;
    justify-content: center;
    background-color: #fff;
}



.stats{

    background: #f2f5f8 !important;

    color: #000 !important;
}
.articles{
    font-size:10px;
    color: #a1aab9;
}
.number1{
    font-weight:500;
}
.followers{
    font-size:10px;
    color: #a1aab9;

}
.number2{
    font-weight:500;
}
.rating{
    font-size:10px;
    color: #a1aab9;
}
.number3{
    font-weight:500;
}